{% extends 'base.html' %}

{% block title %}Contact | {% endblock %}

{% block content %}
    <section class="last-info-section padding-small" id="contact">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 class="mb-4">We are eager to help!</h3>

                </div>
                <div class="col pl-4 ml-4">
                    <h3 class="mb-4">Here is the contact information:</h3>
                    <ul class="container">
                        <li>Phone num: +48 507 460 728</li>
                        <li>Fax: +00 123 45 68</li>
                        <li>E-mail: online@shop.pl</li>
                        <li>Mail: ul. Paderewskiego 02, 44-335 Nowygród</li>
{% endblock %}